.footer__wrapper {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(271.84deg, #3023AE -82.55%, #53A0FD 42.25%);
  width: 100%;
  position: relative;
  margin-top: auto;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.footer__container {
  padding: 17px 10px;
  font-weight: 300;
  font-size: 14px;
  width: 100%;
  max-width: 1160px;
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 300;
  font-size: 14px;
  .footer__nav-item {
    list-style-type: none;
    margin: 0 21px;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    padding: 10px 0;
    transition: .3s;
    color: #fff;
    text-decoration: none;
    &:hover, &.activeLink {
      color: #FAFBFC;
      opacity: 0.8;
    }
  }
}

.copyright {
  color: rgba(255, 255, 255, 0.6);
}
