.header__wrapper {
    background: #000;
    background: linear-gradient(0deg, #213B82, #213B82);
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.header__container {
    padding: 12px 10px;
    width: 100%;
    max-width: 1160px;
    color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.user {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
    text-decoration: none;
    .logo {
        width: 36px;
        height: 36px;
        background: #2161B7;
        border-radius: 50%;
        line-height: 36px;
        text-align: center;
        color: #fff;
        text-underline: none;
    }
    .name {
        font-size: 16px;
        margin-left: 10px;
        color: #fff;
    }
}

.header__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 300;
    font-size: 14px;
    .header__nav-item {
        list-style-type: none;
        margin: 0 21px;
        &:last-child {
            margin-right: 0;
        }
    }
    a {
        padding: 10px 0;
        transition: .3s;
        color: #fff;
        text-decoration: none;
        &:hover {
            color: #FAFBFC;
            opacity: 0.8;
        }
        &.activeLink {
            color: #FAFBFC;
            opacity: 0.6;
            &:hover {
                opacity: 0.6;
            }
        }
    }
}
