
.about__list {
    padding: 0;
    code {
        font: 16px "CourierNewPSMT", sans-serif;
        line-height: 22px;
        background: #F9FBFC;
        padding: 0px 6px;
        display: inline-block;
        border-radius: 4px;
        vertical-align: top;
        margin: 0 4px
    }
}

.about__card {
    list-style-type: none;
    background: #fff;
    margin-bottom: 8px;
    padding: 16px;
    transition: all .3s ease-in-out;
    &:hover, &.open {
        box-shadow: 0px 2px 10px rgba(19, 19, 19, 0.09);
    }
    .about__collapsed-card {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        p {
            font-size: 20px;
        }
        .arrow-icon {
            margin-left: auto;
            transition: all .2s ease-in-out;
            &.open {
                transform: rotate(-180deg);
            }
        }
    }
    .about__icon {
        width: 36px;
        height: 36px;
        margin-right: 16px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.about__open-card {
    font-weight: 300;
    padding: 8px 0 0 52px;
    //margin-top: 8px;
    strong {
        font-weight: 400;
        padding-right: 8px;
    }
    ul {
        padding: 0;
    }
    li {
        line-height: 28px;
        list-style-type: none;
    }
}