
.about__list {
    padding: 0;
}

.about__card {
    list-style-type: none;
    background: #fff;
    .about__collapsed-card {
        display: flex;
    }
    .about__icon {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}