.contacts__list {
  padding: 0;
}

.contacts__card {
  list-style-type: none;
  background: #fff;
  margin-bottom: 8px;
  padding: 5px 16px;
  transition: all .3s ease-in-out;
  &:hover, &.open {
    box-shadow: 0px 2px 10px rgba(19, 19, 19, 0.09);
  }
  .contacts__card-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    p {
      font-size: 20px;
    }
  }
  .contacts__icon {
    width: 36px;
    height: 36px;
    margin-right: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.contacts__link {
  text-decoration: none;
}

.contacts__button {
  margin-left: auto;
  padding: 0 12px;
  line-height: 36px;
  background: #1367D7;
  border-radius: 4px;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  min-width: 115px;
  span {
    position: relative;
    &:after {
      position: absolute;
      content: '';
      width: 5px;
      height: 8px;
      background: url(../../Images/commons/arrow_to_right.svg) no-repeat center center;
      top: 50%;
      right: -10px;
      margin-top: -4px;
    }
  }
}